/* button styling*/
button {
	padding: 5px 8px;
	cursor: pointer;
	border: 1px solid #000;
	font-size: 11px;
}

/* dropdown styling*/
select {
	padding: 3px 5px;
	border: 1px solid #000;
	font-size: 11px;
}

/* date input styling*/
input[type="date"] {
	padding: 2px 4px;
	border: 1px solid #000;
	font-size: 10px;
}

/* single ended slider styling*/
input[type="range"] {
	width: 100%;
	-webkit-appearance: none;
    appearance: none;
	background: transparent;
}

/* track/bar styling */
/* chrome/safari */
input[type="range"]::-webkit-slider-runnable-track {
	background: #ddd;
	height: 3px;
}

/* firefox */
input[type="range"]::-moz-range-track {
	background: #ddd;
	height: 3px;
}

input[type="range"]::-moz-range-progress {
	background: transparent;
}

/* draggable circle */
/* chrome/safari */
input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 12px;
	height: 12px;
	background: #666;
	border-radius: 50%;
	margin-top: -4.5px;
	cursor: pointer;
}

/* firefox */
input[type="range"]::-moz-range-thumb {
	width: 12px;
	height: 12px;
	background: #666;
	border-radius: 50%;
	border: none;
	cursor: pointer;
}

/* double ended slider stlying */
/* container for two overlapping range inputs */
.range-slider {
	position: relative;
	height: 16px;
}

/* position both sliders on top of each other */
.range-slider input[type="range"] {
	position: absolute;
	pointer-events: none; /*no mouse event on slider*/
}

/*  mouse only on the draggable circle chrome safari */
.range-slider input[type="range"]::-webkit-slider-thumb {
	pointer-events: auto;
	z-index: 3;
}

/* mouse only on the draggable circle firefox */
.range-slider input[type="range"]::-moz-range-thumb {
	pointer-events: auto;
}

/* hide track on second slider so it doesn't cover the first thumb */
.range-slider input[type="range"]:nth-child(2)::-webkit-slider-runnable-track {
	background: transparent;
}

.range-slider input[type="range"]:nth-child(2)::-moz-range-track {
	background: transparent;
}